
@media only screen and (max-width:767px){
    .header-top{
        display: none;
    }
    .new {
        font-size: 50px;
        
    }
    .fw-bold.shopping {
        font-size: 50px;
    }
    .col-md-7.text-white {
        text-align: center;
    }
    .col-md-5 {
        margin-top: 30px;
    }
    .about.py-4 {
        margin-top: 20px;
        text-align: center;
    }
    .col-md-6 img {
        margin-top: 30px;
    }
    .fw-bold {
        margin-top: 30px 0;
        margin: 30px 0;
        text-align: center;
    }
    .footer.bg-dark.py-5 {
        text-align: center;
    }
    .link {
        margin: 30px 0;
    }
    
    .btn.btn-warning.w-25.m-auto.mt-5.text-white {
        width: 50% !important;
    }
    .carousel-indicators {
        position: absolute;
        left: 79% !important;
        bottom: 50%;
        z-index: 2;
        display: block !important;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
        width: 10px;
    }
    .slider {
        padding: 60px 0;
        
    }
    .py-5 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}

@media only screen and (max-width:575px){
    .fw-bold.shopping {
        font-size: 30px;
    }
    .slider {
        padding: 50px 0;
        
    }
    .about.py-4 {
        margin-top: 0px;
       
    }
    .fw-bold {
        margin-top: 0px 0;
       
    }
    
}