
@media only screen and (max-width:767px){
    .header-top{
        display: none;
    }
    .new {
        font-size: 50px;
        
    }
    .fw-bold.shopping {
        font-size: 50px;
    }
    .col-md-7.text-white {
        text-align: center;
    }
    .col-md-5 {
        margin-top: 30px;
    }
    .carousel-indicators {
       
        bottom: -67px;
    }
    .about.py-4 {
        margin-top: 20px;
        text-align: center;
    }
    .col-md-6 img {
        margin-top: 30px;
    }
    .fw-bold {
        margin-top: 30px 0;
        margin: 30px 0;
        text-align: center;
    }
    .footer.bg-dark.py-5 {
        text-align: center;
    }
    .link {
        margin: 30px 0;
    }
    
    .btn.btn-warning.w-25.m-auto.mt-5.text-white {
        width: 50% !important;
    }
    

}

@media only screen and (max-width:575px){
    .fw-bold.shopping {
        font-size: 30px;
    }
    
}